
.nav-link {
	font-size: 18px;
}

.nav-link.active {
	color: lightgray !important;
}

.nav-tabs>li.active>a {
	background: black !important;
}


.nav-tabs.nav-justified>li>a {
	border-bottom-color: white !important;
	border-bottom-width: 2px !important;
}

.nav-tabs.nav-justified>.active>a {
	border: 2px solid white !important;
	border-bottom-color: black !important;
}