.nav-link {
	font-size: 15px;
	color: #3e3e3e !important;
}

.nav-tabs>li>a {
	/*border: 1px solid white !important;*/
	background: #c6bcb6 !important;
}

.nav-tabs>li>a:hover {
	background: #96897f !important;
}

.nav-tabs>.active>a {
	color: #b9b9b9 !important;
	border-bottom-color: black !important;
	background: black !important;
}

.nav-tabs>.active>a:hover {
	background: black !important;
}