
.nav-link {
	font-size: 16px;
}

.nav-link.active {
	color: lightgray !important;
}

.nav-tabs>li.active>a {
	background: black !important;
}


.nav-tabs>li>a {
	border: 1px solid white !important;
}

.nav-tabs.nav-justified>.active>a {
	border: 1px solid white !important;
	border-bottom-color: black !important;
}