<div class="row">
  <div class="col-md-9">
    <carousel [interval]="defaultInterval * 1000" [noWrap]="noWrapSlides">
      <slide *ngFor="let image of images; let index=index"
             [active]="image.active">
        <img [src]="image.url" style="margin:auto;">
 
        <div class="carousel-caption">
          <h4>Slide {{index + 1}}</h4>
 
          <p>{{image.title}}</p>
        </div>
      </slide>
    </carousel>
  </div>
 
  <div class="col-md-3">
    <br>
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="noWrapSlides">
        Disable Slide Looping
      </label>
    </div>
    Interval, in seconds: 
    <input type="number" class="form-control" [(ngModel)]="defaultInterval">
    <input type="range" [(ngModel)]="defaultInterval" min="0" max="10">  
  </div>
</div>